<table style="width: 190px; border:0px;">
   <tr>
      <td>{L_TOTAL_VISITORS}</td>
      <td style="text-align: right;">{V_TOTAL_VISITORS}</td>
   </tr>
   <tr>
      <td>{L_VISITORS_TODAY}</td>
      <td style="text-align: right;">{V_VISITORS_TODAY}</td>
   </tr>
   <tr>
      <td>{L_VISITORS_YESTERDAY}</td>
      <td style="text-align: right;">{V_VISITORS_YESTERDAY}</td>
   </tr>
<!--   
   <tr>
      <td>{L_VISITORS_PER_DAY}</td>
      <td style="text-align: right;">{V_VISITORS_PER_DAY}</td>
   </tr>
-->   
   <tr>
      <td>{L_MAX_VISITORS_PER_DAY}</td>
      <td style="text-align: right;">{V_MAX_VISITORS_PER_DAY}</td>
   </tr>
<!--   
   <tr>
      <td>{L_MAX_VISITORS_PER_DAY_DATE}</td>
      <td style="text-align: right;">{V_MAX_VISITORS_PER_DAY_DATE}</td>
   </tr>   
-->
   <tr>
      <td>{L_VISITORS_CURRENTLY_ONLINE}</td>
      <td style="text-align: right;"><a rel="nofollow" href="{V_COUNTER_URL}/stats/online_users.php" onclick="window.open('{V_COUNTER_URL}/stats/online_users.php','online_users','width=700,height=350,screenX=0,screenY=0,resizable=yes,scrollbars=yes'); return false;" target="online_users">{V_VISITORS_CURRENTLY_ONLINE}</a></td>
   </tr>
   <tr>
      <td>{L_MAX_VISITORS_ONLINE}</td>
      <td style="text-align: right;">{V_MAX_VISITORS_ONLINE}</td>
   </tr>
<!--      
   <tr>
      <td>{L_MAX_VISITORS_ONLINE_DATE}</td>
      <td style="text-align: right;">{V_MAX_VISITORS_ONLINE_DATE}</td>
   </tr>
-->
   <tr>
      <td>{L_TOTAL_PAGE_VIEWS}</td>
      <td style="text-align: right;">{V_TOTAL_PAGE_VIEWS}</td>
   </tr>
<!--   
   <tr>
      <td>{L_PAGE_VIEWS_TODAY}</td>
      <td style="text-align: right;">{V_PAGE_VIEWS_TODAY}</td>
   </tr>
   <tr>
      <td>{L_PAGE_VIEWS_YESTERDAY}</td>
      <td style="text-align: right;">{V_PAGE_VIEWS_YESTERDAY}</td>
   </tr>
   <tr>
      <td>{L_PAGE_VIEWS_PER_DAY}</td>
      <td style="text-align: right;">{V_PAGE_VIEWS_PER_DAY}</td>
   </tr>
   <tr>
      <td>{L_MAX_PAGE_VIEWS_PER_DAY}</td>
      <td style="text-align: right;">{V_MAX_PAGE_VIEWS_PER_DAY}</td>
   </tr>
   <tr>
      <td>{L_MAX_PAGE_VIEWS_PER_DAY_DATE}</td>
      <td style="text-align: right;">{V_MAX_PAGE_VIEWS_PER_DAY_DATE}</td>
   </tr>
-->
   <tr>
      <td>{L_PAGE_VIEWS_THIS_PAGE}</td>
      <td style="text-align: right;">{V_PAGE_VIEWS_THIS_PAGE}</td>
   </tr>
<!--
   <tr>
      <td>{L_PAGE_VIEWS_OF_CURRENT_VISITOR}</td>
      <td style="text-align: right;">{V_PAGE_VIEWS_OF_CURRENT_VISITOR}</td>
   </tr>
   <tr>
      <td>{L_PAGE_VIEWS_PER_VISITOR}</td>
      <td style="text-align: right;">{V_PAGE_VIEWS_PER_VISITOR}</td>
   </tr>
   <tr>
      <td>{L_JAVASCRIPT_ACTIVATED}</td>
      <td style="text-align: right;">{V_JS_PERCENTAGE}</td>
   </tr>
   <tr>
      <td>{L_COUNTER_START}</td>
      <td style="text-align: right;">{V_COUNTER_START}</td>
   </tr>
-->   
   <tr>
    <td colspan="2" style="text-align:center; padding-top: 10px;">
		<a href="http://chcounter.org/" target="_blank">
      <img src="{V_COUNTER_URL}/images/stats.png" style="width:15px; height:15px; border: 0px;" alt="counter" title="{L_STATISTICS}" /></a>
			&nbsp;
     <a target="_blank" href="{V_COUNTER_URL}/stats/index.php">{L_STATISTICS}</a>
    </td>
   </tr>
</table>