   <div style="clear: both; text-align: center;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <i>{V_TIME_ZONE}</i><br />
    <br />
   </div>
   <div class="navigation_bar" style="height: 15px; background-image:url(../images/bg_bottom.png); background-repeat:repeat-x;">
    <a href="#top">{L_GO_TO_TOP}</a> |
    <span class="counter_info">
     <a target="_blank" href="http://chcounter.org/">chCounter {V_SCRIPT_VERSION}</a>.
     {L_GNU_GPL}
     {V_TRANSLATION_INFO}
    </span>
   </div>
  </form>
 </body>
</html>